nav {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 16px;
  background: linear-gradient(90deg, #2926e0f5 0%, #2d6fe09f 100%);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 24px;
}

nav a, nav button {
  padding: 10px 20px;
  background-color: white;
  color: #2340e4;
  font-weight: bold;
  border: 2px solid #2575fc;
  border-radius: 25px;
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease;
}

nav a:hover, nav button:hover {
  background-color: #2575fc;
  color: white;
  border-color: #2f50e29a;
  transform: translateY(-2px);
  box-shadow: 0 4px 6px rgba(22, 21, 21, 0.486);
}

nav button {
  background-color: white;
}
